*{
    font-family: Arial;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAF4D0;
}

h1 {
    color: white;
}


/* enleve margin et padding des listes */
ul {
    margin: 0;
    padding: 0;
}

/* Stylisé les items de la liste */
ul li {
    cursor: pointer;
    position: relative;
    padding: 8px;
    height: 15px;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    color: white;
    margin: 5px 0;
    border-radius: 5px;
    
    /* liste unselectable*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* pendant hovering couleur plus sombre*/
ul li:hover {
    color: black;
    background: #ddd;
}

/* changement de visuel lors après click */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* ajoute un effet lorsque c'est checked */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* bouton fermé stylisé */
.close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #703B3B;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    width: 30px;
    height: 32px;
    border-radius: 0 4px 4px 0;
}

.close:hover {
    color: white;
    background-color: red;
}

/* Texte */

p{
    color: white;
}

/* Conteneur principal */
.mainVisual{
    padding: 20px 40px;
    background-color: #703B3B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

/* Conteneur du label et bouton */
.containerLabelButton{
    position: relative;
    display: inline-block;
}

input[type=text]{
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
input[type="text"]:focus{
    border-color: #3B703B;
}

.buttonVisual{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 36px;
    height: 36px;
    color: white;
    background-color: #3B703B;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.buttonVisual:hover {
    background-color: #2D562D;
}

/*centrer les éléments*/
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}