body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAF4D0;
}

.containerLabelButton{
    display: flex;
    flex-direction: column;
}

.mainVisual{
    padding: 20px;
    background-color: #703B3B;
}

p{
    color: white;
}